

 <div class="panel-group panel-group-categorias " id="accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default panel-lateral">


          <div class="panel-heading panel-lateral-heading"" role="tab" id="carrosection">
                <div class="row">

                <% if current_user.present? %>

                      <div class="col-md-8">
                        PANEL USUARIO
                      </div>

                      <div class="col-md-1">


                      </div>



                <% else %>
                 <div class="col-md-8">
                    INICIO SESION
                  </div>

                <% end %>
                <div class="col-md-1 ">
                  <div class="caret_down">
                    <a  role="button" data-toggle="collapse" data-parent="#accordion" href="#carrosectionbody" aria-expanded="false" aria-controls="carrosectionbody" ><%= fa_icon " 2x caret-square-o-down" %>
                     </a>
                     </div>
                </div>
              </div>
          </div>




    <div id="carrosectionbody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="carrosection">




        <div class="panel-body">
          <% if current_user.present? %>



           <div class="row">
              <div class="col-md-12 ">
                <%= link_to  edit_user_path(current_user) do %>
                  <%= fa_icon "2x edit" %>EDITAR PERFIL
                <% end %>
              </div>
           </div>

           <div class="row">
           <div class="col-md-12">&nbsp;</div>
            </div>
          <div class="row">
           <% if current_user.present? %>
            <div class="col-md-12">

              <% if current_user.tieneOrden? %>
                      <%= button_to "Ver Orden", order_path(current_user.orden), class: "btn  btn-default" %>
                 <% end %>


             </div>
            </div>
            <div class="row">
             <div class="col-md-12">
                <%= button_to carro_path(current_user), :method => "get", :class => "btn btn-default" do %>
                          MI CARRO <%=  fa_icon 'shopping-cart'  %>
                          <% end %>

            </div>
            </div>
              <% else %>

             <%= render 'layouts/parts/login' %>

          <% end %>
           <% end %>
          </div>

        </div>
      </div>
    </div>

