<div class="panel panel-default panel-lateral">
  <div class="panel-heading panel-lateral-heading">
   <strong>
              <% if current_user.present? %>

                <div class="row">
                    <div class="col-md-10">
                       <% if current_user.name.present? %>
                            <%= current_user.name %>
                             <%= link_to  edit_user_path(current_user) do %>
                                <%= fa_icon "edit" %>
                             <%  end %>
                        <% else %>
                            <%= link_to "Editar datos", edit_user_path(current_user) %>
                        <% end %>
                        </div>

                        <div col-md-1>
                        </strong>   <%= button_to   destroy_user_session_path, method: :delete, :class => 'btn btn-xs btn-danger' do  %>
                            <%=  fa_icon 'sign-out'  %>
                        <% end %>
                        </div>

                </div>
              <% else %>
                <strong>REGISTRO</strong>
              <% end %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
          <% if current_user.present? %>
              <% if current_user.present? %>
                    TIENES  <strong>
                    <%=  current_user.articulosSeleccionados %>
                </strong>
                <% if current_user.articulosSeleccionados > 1 %>
                    ARTICULOS
                <% else %>
                    ARTICULO
                <% end %>
              <% end %>

              <% else %>
              <div class="row">
                <div class="col-md-6">
                  <%= link_to new_user_registration_path do %>
                    <button type="button"  class="btn btn-default">REGISTRARSE</button>
                  <% end %>
              </div>
              <div class="col-md-6">
                  <%= link_to  new_user_session_path do %>
                    <button type="button"  class="btn btn-default">INGRESAR</button>
                  <% end %>
              </div>
          <% end %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <% if current_user.present? %>
              Con un valor de
              <strong>$0</strong>
        <% end %>
      </div>
    </div>
     <div class="row">
     <div class="col-md-12">&nbsp;</div>
      </div>
    <div class="row">
     <% if current_user.present? %>
      <div class="col-md-6">

        <% if current_user.tieneOrden? %>
                <%= button_to "Ver Orden", order_path(current_user.orden), class: "btn btn-block btn-default" %>
           <% end %>


      </div>
       <div class="col-md-6">
          <%= button_to carro_path(current_user), :method => "get", :class => "btn btn-block btn-default" do %>
                    MI CARRO <%=  fa_icon 'shopping-cart'  %>
                    <% end %>

      </div>
     <% end %>
    </div>

  </div>
  </div>
