<div class="menusuperior">
    <ul class="panel-heading panel-tabs nav nav-tabs nav-pills panel-heading-tabs" role="tablist">
      <li role="presentation" class="pilltab ">
        <%= link_to destacados_path, class: "pilltab", role:"tab" do %>
          DESTACADOS
        <% end %>

      </li>
      <li role="presentation" class="pilltab" >
        <%= link_to ultimos_path, class: "pilltab", role:"tab" do %>
          ULTIMOS PRODUCTOS
        <% end %>


      </li>
      <li role="presentation" class="pilltab" >
        <%= link_to masvendidos_path, class: "pilltab", role:"tab" do %>
          MAS VENDIDOS
        <% end %>


      </li>


      <% Category.all.order(:name).each do |categoria| %>
        <li class="pilltab">
          <%= link_to homecategories_path(categoria), class: "pilltab", role: "tab" do %>
            <%= categoria.name %>
          <% end %>
        </li>
      <% end %>



      <li role="presentation" class="pilltab" >
        <a class="tabs-personal" href="#promociones" aria-controls="promociones" role="tab" data-toggle="tab">
          PROMOCIONES
        </a>
      </li>

    </ul>
</div>


 <div class="row">
      <div class="col-md-12">
      <%= yield %>
      </div>
    </div>



