
      <div class="row menusuperior">
          <div class="itemcategoria">
              <%= link_to destacados_path, class: "pilltab", role:"tab" do %>
                Destacados
              <% end %>

            </div>
            <div class="itemcategoria">
              <%= link_to ultimos_path, class: "pilltab", role:"tab" do %>
                Lo último
              <% end %>


            </div>
            <div class="itemcategoria">
              <%= link_to masvendidos_path, class: "pilltab", role:"tab" do %>
                Mas vendidos
              <% end %>


            </div>


            <% Category.all.order(:name).each do |categoria| %>
              <div class="itemcategoria">
                <%= link_to homecategories_path(categoria), class: "pilltab", role: "tab" do %>
                  <%= categoria.name %>
                <% end %>
              </div>
            <% end %>



            <div class="itemcategoria">
              <a class="tabs-personal" href="#promociones" aria-controls="promociones" role="tab" data-toggle="tab">
                Promociones
              </a>
            </div>

            <div class="itemcategoria">
              <a class="tabs-personal" href="#promociones" aria-controls="ayuda" role="tab" data-toggle="tab">
                Ayuda
              </a>
            </div>


      </div>

 <div class="row">
      <div class="col-md-12">
      <%= yield %>
      </div>
    </div>



