
  <div class="row cabecera">
  <div class="col-lg-2 col-md-3 col-xs-12">
    <a class="navbar-brand" href="/">
      <div class="textoMarca">OU<font class="zmarca" >Z</font>OM</div>
    </a>

  </div>


  <div class="col-lg-7 col-md-5 col-xs-12 ">
    <div class="container-fluid"
     <%= form_tag(search_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>

      <div class="form-group" >
       <div class="input-group searchfield " >

           <%= text_field_tag :search, params[:search], placeholder: "Buscar productos",class:'form-control  inputs-personal home-search' %>
           <span class="input-group-addon  inputs-personal">

              <span class='glyphicon glyphicon-search'></span>

         </span>
         </div>
       </div>
    <% end %>

  </div>
  </div>
  <div class="col-lg-3 col-md-3  col-xs-12">
    <div class="loginarea">
      <% if user_signed_in? %>

             <% if current_user.present? %>

                <table width="100%">
                  <tr>
                    <td align="right">
                      <%= render 'layouts/menus/usermenu'%>
                    </td>
                    <td>
                     |
                     </td>
                    <td  align="left" class="iconocarrito">
                      <%= link_to carro_path(current_user), :method => "get", class: " enlaces enlaces-header" do %>
                       <%= fa_icon("shopping-cart 2x") %> <span class="badge textorojo textobadgecarro"><%= current_user.articulosSeleccionados %></span>
                      <% end %>
                  </td>
                  </tr>
                </table>
             <% end %>


        <% else %>


                <table width="100%">
                  <tr>
                    <td align="right">
                      <%= link_to  "#", :id => 'login', class: "enlaces enlaces-header", "data-toggle" => "modal", 'data-target' => '#loginModal' do %>
                        <%= fa_icon("user ") %>

                            Identifícate

                        <% end %>
                    </td>
                    <td class="enlaces-header">|</td>
                    <td align="left">
                      <%= link_to "Registrate", new_user_registration_path, class: "enlaces  enlaces-header" %>
                      </td>
                      </tr>
                      </table>

        <% end %>
      </div>


  </div>

</div>





<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Identifícate</h4>
      </div>


      <%= bootstrap_form_for User.new, :url => new_user_session_path do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">

            <%= f.text_field :email, class:'form-control  inputs-personal' %>
            <%= f.password_field :password, class:'form-control  inputs-personal' %>



           </div>
        </div>
      </div>


      <div class="modal-footer">
        <%= f.submit "Ingresar", class:" btn btn-default btn-personal"%>
      </div>
      <% end %>
    </div>
  </div>
</div>



