<nav class="navbar navbar-default navbar-top-personal navbar-fixed left-to-right">
  <div class="container-fluid">



    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <div class="textoMarca">OU<font class="zmarca" >Z</font>OM</div>
      </a>
    </div>



  <div class="collapse navbar-collapse navbar-right col-md-8" >
     <%= form_tag(search_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>

      <div class="form-group" >
       <div class="input-group searchfield " >
           <%= text_field_tag :search, params[:search], placeholder: "Buscar productos",class:'form-control  inputs-personal home-search' %>
           <span class="input-group-addon  inputs-personal">

              <span class='glyphicon glyphicon-search'></span>

         </span>
         </div>
       </div>
    <% end %>


     <% if user_signed_in? %>

        <ul class="nav navbar-nav navbar-right">
           <% if current_user.present? %>
           <li>
              <div class="navbar-text  textohead"> <%= fa_icon("user 2x") %>
              <%= current_user.name %><%= render 'layouts/menus/usermenu'%>
              </div>
            </li>
            <li role="separator" class="divider"></li>
            <li>
             <div class="navbar-text">
              <%= link_to carro_path(current_user), :method => "get" do %>
               <%= fa_icon("shopping-cart 2x") %> <span class="badge textorojo textobadgecarro"><%= current_user.articulosSeleccionados %></span>
              <% end %>

             </div>
           </li>


           <% end %>
        </ul>

      <% else %>

       <ul class="nav navbar-nav navbar-right loginbar">

           <li>
              <div class="navbar-text textohead">


                <%= link_to  "#", :id => 'login', class: "enlaces", "data-toggle" => "modal", 'data-target' => '#loginModal' do %>
                  <%= fa_icon("user 2x") %> IDENTIFICATE <% end %>
                |
                <%= link_to "REGISTRATE", new_user_registration_path, class: "enlaces" %>
              </div>
            </li>
            <li role="separator" class="divider"></li>

      </ul>

      <% end %>
      </div>
  </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">IDENTIFICATE</h4>
      </div>


      <%= bootstrap_form_for User.new, :url => new_user_session_path do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">

            <%= f.text_field :email, class:'form-control  inputs-personal' %>
            <%= f.password_field :password, class:'form-control  inputs-personal' %>



           </div>
        </div>
      </div>


      <div class="modal-footer">
        <%= f.submit "INGRESAR", class:" btn btn-default btn-personal"%>
      </div>
      <% end %>
    </div>
  </div>
</div>



