

<div class="row">
  <div class="col-md-12">
   <%= bootstrap_form_for User.new, :url => new_user_session_path do |f| %>
    <%= f.text_field :email, class:'form-control  inputs-personal' %>
    <%= f.password_field :password, class:'form-control  inputs-personal' %>

    <%= f.submit "INGRESAR", class:" btn btn-default btn-personal" %>
   <% end %>
   </div>
</div>
<hr/>
 <div class="row">
  <div class="col-md-12">
  <%= link_to "Registrarse", new_user_registration_path, class: "enlaces" %>
  </div>

  </div>
