  <div class="well">
  <% if current_user.profile.present? && current_user.profile.canadmin %>
     <li class="dropdown-header">ADMINISTRADOR</li>
      <li class="menudrop"><%= link_to "TIPOS DE CONTACTO",  contactypes_path%></li>
      <li class="menudrop"><%= link_to "METODOS DE PAGO",  paymentmethods_path%></li>
      <li class="menudrop"> <%= link_to "CATEGORIAS",  categories_path%></li>
      <li class="menudrop"><%= link_to "PRODUCTOS",  products_path%></li>
      <li class="menudrop"><%= link_to "MARCAS",  marcas_path%></li>
      <li class="menudrop"><%= link_to "VENDEDORES",  sellers_path%></li>
      <li class="menudrop"><%= link_to "PERFILES",  profiles_path%></li>
      <li class="menudrop"><%= link_to "ESTADOS DE ORDENES",  statusorders_path %></li>
      <li class="menudrop"><%= link_to "USUARIOS",  users_path%></li>
      <li class="menudrop"><%= link_to "BANNERS",  banners_path%></li>
      <li class="menudrop"><%= link_to "TIPOS DE BANNERS",  tipobanners_path%></li>
      <li class="menudrop"><%= link_to "EMPRESAS DELIVERY",  delivery_companies_path%></li>
    <% end %>
</div>
