<div class="panel panel-default">
  <div class="panel-heading">
  <h4><%= @textobuscado %></h4>
  </div>
  <div class="panel-body">

<% @main_products.each do |producto| %>
     <div class="row">
        <div class="col-md-1">
            <%= link_to product_path(producto,:idtienda => @idtienda) do %>

              <%= image_tag producto.product_images.first.image.url(:thumb), class: "thumbnail"  %>
            <% end %>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
             <b> <h4><%= link_to producto.name, product_path(producto,:idtienda => @idtienda) %></h4> </b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= link_to productos_marca_path(producto.marca) do %>
                <%= producto.marca.name %>
              <% end %>
                <br/>

              Desde <%= number_to_currency(producto.price_since , precision: 0) %>
            </div>
          </div>

        </div>
      </div>

    <% end %>
    </div>

</div>








