<div class="panel panel-default">
  <div class="panel-heading">
  <h4><%= @textobuscado %></h4>
  </div>
  <div class="panel-body">

<%= render "static_pages/componentes/banner" %>

<div class="row">
<% @main_products.each do |producto| %>
       <%= link_to product_path(producto,:idtienda => @idtienda) do %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 center-block imagenesThumb">

          <table width="100%">
            <tr><td align="center">


              <%= image_tag producto.imagenprincipal, class: 'img-responsive'   %>

          </td></tr>
          <tr><td align="center" class="celdacategorias"><b> <h5><%= link_to producto.name.capitalize, product_path(producto,:idtienda => @idtienda) %></h5> </b></td></tr>

          <tr><td  align="center" class="celdacategorias celdacategoriasprecio">
            <% if producto.diferent_prices? %>
            Desde
            <% end %>
            <%= number_to_currency(producto.price_since , precision: 0) %>
          </td></tr>
          </table>

        </div>

<% end %>


    <% end %>
    </div>
  </div>
</div>








