<div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#destacados" aria-controls="home" role="tab" data-toggle="tab">DESTACADOS</a></li>
    <li role="presentation"><a href="#ultimos" aria-controls="ultimos" role="tab" data-toggle="tab">ULTIMOS PRODUCTOS</a></li>
    <li role="presentation"><a href="#masvendidos" aria-controls="masvendidos" role="tab" data-toggle="tab">MAS VENDIDOS</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane  fade in active" id="destacados">
      <div class="panel panel-default">
        <div class="panel-body">
        <table>
        <tr>
        <% @destacados.each do |dest| %>
        <td>
          <%= link_to dest do %>
            <table class="table table-bordered">
            <tr><td>
             <%= image_tag dest.imagenprincipal.image.thumb('200x200#').url, class: 'img-responsive' if dest.imagenprincipal.image_stored?  %>
             </td>
             </tr>
             <tr><td align="center"> <strong><%= dest.name %></strong></td></tr>
             </table>
          <% end %>
          </td>
        <% end %>
        </tr>
        </table>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="ultimos">
      <div class="panel panel-default">
          <div class="panel-body">
           <table>
            <tr>

           <% @ultimos.each do |dest| %>
           <td>
           <%= link_to dest do %>
            <table class="table table-bordered">
            <tr><td>
            <%= image_tag dest.imagenprincipal.image.thumb('200x200#').url, class: 'img-responsive' if dest.imagenprincipal.image_stored?  %>
 </tr>
             <tr><td align="center"> <strong><%= dest.name %></strong></td></tr>
             </table>
            <% end %>
            </td>

            </td>
          <% end %>
          </tr>
        </table>
             </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="masvendidos">
      <div class="panel panel-default">
        <div class="panel-body">
        <table>
            <tr>

          <% @masvendidos.each do |dest| %>
          <td>
           <%= link_to dest do %>
            <table class="table table-bordered">
            <tr><td>
            <%= image_tag dest.imagenprincipal.image.thumb('200x200#').url, class: 'img-responsive' if dest.imagenprincipal.image_stored?  %>
 </tr>
             <tr><td align="center"> <strong><%= dest.name %></strong></td></tr>
             </table>
            <% end %>
            </td>

        <% end %>
          </tr>
            </table>
           </div>
      </div>
    </div>

  </div>

</div>


