<div id="notice"><%= notice %></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Perfiles
    <%= link_to new_profile_path do%>
            <%= fa_icon 'plus-square-o' %>
          <% end %>

          </h4>
    </div>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Nombre</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile do %>
          <%= profile.name %>
            <% end %>
          </td>

        <td>
         <%= link_to edit_profile_path(profile) do %>
                <%=  fa_icon 'edit'  %>
            <% end %>
            <%= link_to profile, method: :delete, data: { confirm: 'Are you sure?' } do %>
               <%=  fa_icon 'remove'  %>
         <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

