<div class='panel panel-default'>
  <div class='panel-heading'>


        <h3>MIS TIENDAS
        <%= link_to new_tienda_path  do %>
         <%=  fa_icon 'plus-square-o'  %>
        <% end %>

        </h3>



  </div>
<table class="table table-default">


    <tr class='active'><td>Nombre</td><td>Fecha creación</td><td>Cantidad articulos</td><td>Vendedor</td><td></td></tr>

    <% @tiendas.each do |tienda| %>
    <tr>
      <td>  <%= tienda.name %></td>
      <td>  <%= tienda.created_at.strftime("%d/%m/%Y ")  %></td>
      <td>  <%= tienda.articles.count %></td>
      <td>  <%= tienda.seller.name %></td>
      <td>
      <%= link_to tienda_path(tienda) do %>
        <%=  fa_icon 'eye'  %>
      <% end %>
       <%= link_to edit_tienda_path(tienda) do %>
        <%=  fa_icon 'edit'  %>
      <% end %>
       <%= link_to tienda_path(tienda), method: :delete do %>
        <%=  fa_icon 'remove'  %>
      <% end %>
      </td>
    </tr>
    <% end %>

</table>
</div>
