<div class='panel panel-default'>
  <table class="table">
   <thead>
  <tr >
<th>
     <%= image_tag @tienda.imagen.url, width: '150'%>
    </th>
    <th colspan='2' width="100%" >
       <h3><%= @tienda.name %> </h3>
     </th>
  </tr>
  </thead>
    <tr>
        <td colspan=3>

          <div class="btn-group" role="group" aria-label="...">

            <%= link_to "AGREGAR ARTICULO", addarticle_path(@tienda), class: "btn btn-default", role: "button" %>
            <%= link_to "MODIFICAR TIENDA", edit_tienda_path(@tienda), class: "btn btn-default" %>
            <%= link_to "ELIMINAR TIENDA", tienda_path(@tienda), method: :delete, class: "btn btn-default" %>
            <%= link_to "DASHBOARD TIENDA", dashboard_path(@tienda), class: "btn btn-default" %>
          </div>
        </td>
        <td align='right'>Creada el <%= @tienda.created_at.strftime("%d/%m/%Y ") %></td>
    </tr>

  <tr><td colspan='4'>

      <div class="panel panel-default">
        <table class='table table-default table-bordered'>
          <thead>
            <tr class='active'><td>
                ARTICULOS
              </td>
              <td>
                COLOR
              </td>
              <td>
                TALLA
              </td>
              <td>
                SEGMENTO
              </td>
              <td>
                SEXO
              </td>
              <td>
                PRECIO
              </td>

              <td>
                PRECIO COMPRA
              </td>
              <td>
                PORCENTAJE GANANCIA
              </td>
              <td >
                STOCK
              </td>
              <td>
                GANANCIA ESPERADA
              </td>
            </tr>
          </thead>
          <tbody>


            <% @tienda.articles.each do |articulo| %>
              <tr class="rowarticulos"><td>
                <%= articulo.product.name %>
              </td>
              <td>
                <%= articulo.color %>
              </td>
              <td>
                <%= articulo.talla %>
              </td>
              <td>
                <%= articulo.segmento %>
              </td>
              <td>
                <%= articulo.sexo %>
              </td>
              <td>
              <%= number_to_currency(articulo.price, precision: 0) %>


              </td>
              <td>
                <%= number_to_currency(articulo.price_buy, precision: 0) %>
              </td>
              <td>
                <%= number_to_percentage(articulo.porcentajeganancia, precision: 1) %>
              </td>
              <td>
                <%= articulo.stock %>
              </td>
              <td>
                <%= number_to_currency(articulo.gananciaesperada, precision: 0)  %>
              </td>
              <td align='right'>
                  <%= link_to  edit_article_path(articulo),  class:"btn btn-xs btn-default"  do %>
                    <%=  fa_icon 'edit'  %>
                  <% end %>
                  <%= link_to article_path(articulo), method: :delete, class: "btn btn-xs btn-default" do %>
                    <%=  fa_icon 'remove'  %>
                  <% end %>

              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </table>
</div>


<%= link_to "Volver a tiendas", tiendas_path, class: "btn btn-default"%>

<div class="panel panel-default" ng-controller="appControllerScores">
  <div class="panel-heading">
    COMENTARIOS Y EVALUACIONES
  </div>
  <div class="panel-body">

      <% @scores.each do |score| %>
        <%= score.user.name %>
        <%= score.score %>
        <%= score.comentario %>


      <% end %>



  </div>


</div>
