<div class='panel panel-default'>
  <table class="table">
    <%= render :partial => "tiendas/cabeceratienda" %>

  <tr><td colspan='4'>

      <div class="panel panel-default">
        <table class='table table-default table-bordered'>
          <thead>
            <tr class='active'>
              <th>
              </th>
              <th>
                ARTICULOS
              </th>
              <th>
                COLOR
              </th>
              <th>
                TALLA
              </th>
              <th>
                SEGMENTO
              </th>
              <th>
                SEXO
              </th>
              <th>
                PRECIO
              </th>

              <th>
                PRECIO COMPRA
              </th>
              <th>
                PORCENTAJE GANANCIA
              </th>
              <th >
                STOCK INICIAL
              </th>
              <th >
                STOCK
              </th>
              <th>
                GANANCIA ESPERADA
              </th>
              <th>
                CODIGO QR
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>


            <% @tienda.articles.each do |articulo| %>
              <tr class="rowarticulos">
              <td>
              <%= link_to addimagenarticle_path(articulo) do %>
                <% if articulo.imagenes_articulos.blank? %>
                  EDITAR IMAGENES
                <% else %>
                  <%= image_tag articulo.imagenes_articulos.first.imagen.url(:thumb) %>
                <% end %>

              <% end %>
              </td>
              <td>
                <%= articulo.product.name %>
              </td>
              <td>
                <%= articulo.color %>
              </td>
              <td>
                <%= articulo.talla %>
              </td>
              <td>
                <%= articulo.segmento %>
              </td>
              <td>
                <%= articulo.sexo %>
              </td>
              <td>
              <%= number_to_currency(articulo.price, precision: 0) %>


              </td>
              <td>
                <% unless articulo.price_buy.blank? %>
                  <%= number_to_currency(articulo.price_buy, precision: 0) %>
                <% end %>
              </td>
              <td>
                <% unless articulo.price_buy.blank? %>
                  <%= number_to_percentage(articulo.porcentajeganancia, precision: 1) %>
                <% end %>
              </td>
              <td>
                <% unless articulo.stock_inicial.blank? %>
                  <%= articulo.stock_inicial %>
                <% end %>
              </td>
              <td>
                <% unless articulo.stocks.blank? %>
                  <%= articulo.totalstock %>
                <% end %>
              </td>
              <td>
                <% unless articulo.price_buy.blank? %>
                  <%= number_to_currency(articulo.gananciaesperada, precision: 0)  %>
                <% end %>
              </td>
              <td>
              <%= raw articulo.textoaqr.as_svg(offset: 0, color: '000',
                    shape_rendering: 'crispEdges',
                    module_size: 2) %>
              </td>
              <td align='right'>
                  <%= link_to  edit_article_path(articulo),  class:"btn btn-xs btn-default"  do %>
                    <%=  fa_icon 'edit'  %>
                  <% end %>
                  <%= link_to article_path(articulo), method: :delete, class: "btn btn-xs btn-default" do %>
                    <%=  fa_icon 'remove'  %>
                  <% end %>

              </td>
            <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </table>
</div>


<%= link_to "Volver a tiendas", tiendas_path, class: "btn btn-default"%>

<div class="panel panel-default" ng-controller="appControllerScores">
  <div class="panel-heading">
    COMENTARIOS Y EVALUACIONES
  </div>
  <div class="panel-body">

      <% @scores.each do |score| %>
        <%= score.user.name %>
        <%= score.score %>
        <%= score.comentario %>


      <% end %>



  </div>


</div>
