
<% if  user_signed_in?  %>

  <div class="panel panel-default">
    <div class="panel-heading">Comentario</div>
    <div class="panel-body">
    <%= bootstrap_form_for(@comment) do |f| %>


      <%= f.hidden_field :user_id, value: current_user.id  %>

      <br/>

      <% if @product.blank? %>
        <%= f.hidden_field :product_id, value: @comment.product_id %>

      <% else %>
        <%= f.hidden_field :product_id, value: @product.id %>

      <% end %>
      <p></p>




      <%= f.text_field :title , label: 'Asunto' %>
      <%= f.text_area :body, label: 'Comentario' %>




      <%= f.submit "Guardar" %>

    <% end %>

    <% else %>

    <h3> Para crear comentarios se debe hacer autenticado como usuario</h3>
    <% end %>
 </div>
</div>

