<ul>
<% @comentarios.each do |comentario| %>
  <li>

    <%= comentario.title %>
    <%= comentario.body %>
    <%= comentario.created_at %>

    <%= link_to "Edit", edit_comment_path(comentario) %>
    <%= link_to "Borrar", comment_path(comentario), :method =>:delete %>

  </li>
<% end %>


</ul>

<%= link_to "nuevo", new_comment_path %>
