<%= @seller.name %>
<% if @seller.tiendas.present? %>
    (<%= @seller.totalarticulos %>)

  <p>

  <ul>
    <% @seller.tiendas.each do |tienda| %>
      <h4><%= tienda.name %></h4>
      <% tienda.articles.each do |article| %>
        <li>
          <%= article.product.name %> |
          <%= article.price %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p>
<% end %>
<%= link_to "Back to Sellers", sellers_path %>
