<%= @seller.name %>
<% if @seller.tiendas.present? %>
    (<%= @seller.tiendas.articles.count %>)

  <p>

  <ul>
    <% @seller.tiendas.articles.each do |article| %>
      <li>
        <%= article.product.name %> |
        <%= article.price %>
      </li>
    <% end %>
  </ul>
  <p>
<% end %>
<%= link_to "Back to Sellers", sellers_path %>
