<div class="panel panel-default">
  <div class="panel-heading">
  <strong>GALERIA DE IMAGENES</strong>
  </div>
  <div class="panel-body">

      <div id="galeria">
        <div class="row">
      <%= render @article.imagenes_articulos %>
        </div>
      </div>

  </div>

  <div class="panel-footer">
    <%= form_for ImagenesArticulo.new,  html: { multipart: true } do |f| %>

      <%= f.hidden_field :article_id, value:  @article.id %>
      <%= f.file_field :imagen, multiple: true, name: "imagenes_articulo[imagen]", id: "fileupload"%>

    <% end %>

  </div>
  <div class="panel-footer">
    <%= link_to "VOLVER", tienda_path(@tienda) %>
  </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <center>
        <h2>Cargando imagenes</h2><br/>
        <i class="fa fa-spinner fa-spin" style="font-size:32px"></i>
        </center>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="modal-body"><center>
       <h2> Carga finalizada!</h2>
       </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
</div>
