<% if @banner.imagen.present? %>
  <%= image_tag @banner.imagen.url(:medium) %>
<% end %>

<%= bootstrap_form_for @banner, url: banners_path, html: { multipart: true } do |form| %>
  <%= form.text_field :descripcion %>

  <%= form.select :pagina do %>
    <%= options_for_select(@paginas_array) %>
  <% end %>



  <%= form.check_box :operativo %>

  <%= form.file_field :imagen %>

  <%= form.submit %>
<% end %>
<p>
<%= link_to banners_path, class: "enlaces" do %>
  <%= fa_icon "arrow-left 2x" %>Volver a Lista de Banners<% end %>
</p>
