
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>BANNERS SITIO
      <%= link_to new_banner_path do %>
        NUEVO
      <%end%>
    </strong>
  </div>


  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Descripción</td>
        <td>Articulo</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @banners.each do |banner| %>

        <tr>
          <td><%= image_tag banner.imagen(:thumb) %></td>
          <td><%= banner.descripcion %></td>
          <td> </td>
          <td>
            <%= link_to edit_banner_path(banner)  do %>
              <%=  fa_icon 'edit'  %>
            <% end %>
            <%= link_to banner_path(banner), :method =>:delete do %>
              <%=  fa_icon 'remove'  %>
            <% end %></td>
        </tr>


      <% end %>
      </tbody>
  </table>



</div>

