<ul>
<% @usuarios.each do |usuario| %>
  <li><%= usuario.id %> | <%= usuario.nombre %> | <%= usuario.email %> |
  <% if usuario.profile.present? %>
   <%= usuario.profile.name %>
   <% end %>

   <%= link_to "Edit", edit_user_path(usuario) %>
  </li>
<% end %>


</ul>

<%= link_to "nuevo", new_user_path %>
