<div class="panel panel-default">
  <div class="panel-heading">
    <strong>LISTA DE ORDENES
    <% if @tienda.present? %>
    DE LA TIENDA
      <%= @tienda.name %>

    <% end %>
    </strong>
  </div>
<table class="table table-bordered">

  <% @morders.each do |morder| %>
    <tr>
      <td><%= link_to order_path(morder) do %>
          <%= morder.id %>
        <% end %></td>
      <td><%= morder.user.name %> </td>
      <td>
        <%= number_to_currency(morder.total , precision: 0) %>
       </td>
      <td><%= morder.fechacambio %></td>
      <td><%= morder.statusorder.value %></td>
      <td>
        <% case morder.statusorder_id %>
        <% when 2 %>
          <%= link_to "Pagar orden", pagar_orden_path(morder), class: 'btn btn-default' %>
        <% when 3 %>
          <%= link_to "Preparar envio", preparar_orden_path(morder), class: 'btn btn-default' %>
        <% when 4 %>
          <%= link_to "Enviar paquete", enviar_orden_path(morder), class: 'btn btn-default' %>
        <% when 5 %>
          <%= link_to "Paquete recepcionado", cerrar_orden_path(morder), class: 'btn btn-default' %>

        <% end %>

      </td>
      <td>
      <% if morder.statusorder_id < 6 %>
        <%= link_to morder, method: :delete do %>
          <%= fa_icon 'remove'%>
        <% end %>
      <% end %>
      </td>

    </tr>
  <% end %>

</table>
</div>
