<div ng-controller="appController">

<%= bootstrap_form_for(@product) do |f| %>

  <%= f.text_field :name, :label => "NOMBRE" %>
  <%= f.select :marca_id,  Marca.all.collect {|p| [ p.name, p.id ] }, :label => "MARCA"  %>
  <%= f.select :subcategory_id,  Subcategory.all.collect {|p| [ p.name, p.id ] }, :label => "SUBCATEGORIA" %>




  <%= f.text_field :year, :label => "AÑO" %>
  <%= f.label "ESPECIFICACIONES" %>
  <%= f.cktext_area :specifications %>
  <%= f.file_field :avatar %>

  <%= f.submit "Guardar", :class => "btn btn-primary" %>
<% end %>


</div>
<script type="text/javascript" charset="utf-8">
  function test()
 {
    alert("test");
  }
 </script>
