<div class="panel panel-default" ng-controller="appControllerNewProduct">
   <%= bootstrap_form_for @product, :html => {:multipart => true} do |f| %>


  <div class="panel-body">


      <%= f.text_field :name, :label => "NOMBRE" %>
      <%= f.select :marca_id,  Marca.all.collect {|p| [ p.name, p.id ] }, :label => "MARCA"  %>

      <label>CATEGORIA</label>
      <select name="category_id" class="form-control" id="tallas" ng-model="categoriaseleccionada" ng-change='activaSubcategoria()'>
         <option value="" selected disabled>Seleccione una Categoria</option>
         <option ng-repeat="option in categorias" value="{{option.id}}">{{option.name}}</option>
       </select>
       <br/>
      <label ng-show="habilitadoSubcategoria" class="animacionFadeOn">SUB-CATEGORIA</label>
      <select name="product.subcategory_id" class="form-control animacionFadeOn" id="tallas" ng-model="subcategoriaseleccionada" ng-change='activaSubmit()' ng-show="habilitadoSubcategoria">
         <option value="" selected disabled>Seleccione una Categoria</option>
         <option ng-repeat="option in subcategorias" value={{option.id}}>{{option.name}}</option>
       </select>
       <br/>


      <%= f.text_field :year, :label => "AÑO" %>
      <%= f.label "ESPECIFICACIONES" %>
      <%= f.cktext_area :specifications %>



  </div>
  <div class="panel-footer">
    <%= f.submit "Guardar", :class => "btn btn-primary" %>
  </div>
    <% end %>
</div>



