<div class="panel panel-default">
    <div class='panel-heading'>
        <h4>PRODUCTOS<%= link_to new_product_path do%>
            <%= fa_icon 'plus-square-o' %>
          <% end %></h4>
    </div>
    <table class="table table-bordered">
     <tr class="active">
        <th>NOMBRE</th>
        <th>MARCA</th>
        <th>CATEGORIA</th>
        <th>

         </th>
      </tr>

    <% Product.all.each do |product| %>
      <tr>
        <td>  <%= product.name %> </td>
        <td>  <%= product.marca.name %> </td>
        <td>  <%= product.subcategory.category.name %> / <%= product.subcategory.name %> </td>
        <td>

         <%= link_to edit_product_path(product) do %>
                <%=  fa_icon 'edit'  %>
            <% end %>
            <%= link_to product_path(product),:method =>:delete do %>
               <%=  fa_icon 'remove'  %>
         <% end %>
      </td>
      </tr>
    <% end %>


    </table>
</div>
