<% if user_signed_in? %>
  <% if current_user.email == "ebedmail@gmail.com" %>

    <%= link_to "Editar", edit_product_path(@product) %>

  <% end %>
<% end %>

<h3>Datos del <%= @product.name %> <%= @product.marca.name %> </h3>

Nota Promedio <%= @product.average_score %><br/>
Menor precio <%= @product.price_since %>

<p>
  <%= raw @product.specifications %>
</p>
Año de modelo<%= @product.year %>
<br/>
<% @product.imagenesarticulos.each do |imagen| %>

        <%= ('<img src="data:image/jpg;base64,%s"  width="100px">' % Base64.encode64(imagen.file_contents)).html_safe %>
        <% end %>
<h3>Vendedores</h3>
<% @product.articles.each do |article| %>
<p>
  <%= article.seller.name %>  / <%= article.price %>
</p>
<% end %>



<div class="panel panel-default">
<div class="panel-heading">Comentarios del producto(<%= @product.comments.count %>)</div>
<div class="panel-body">

<% @product.comments.each do |comment|%>

  <p> <%= comment.title %> </p>
  <p> <%= comment.created_at %> </p>
  <p> <%= comment.body %> </p>

  <p> <%= comment.user %> </p>


<% end %>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Nuevo Comentario</div>
<div class="panel-body">
      <% if user_signed_in? %>
        <%=  render :partial => 'comments/form' %>

      <% end %>
      </div>
</div>

