<div ng-controller="appController">



<table>
 <tr>
    <td  colspan="<%=  @product.product_images.length %>" align="center">
    <% index = 0 %>
      <% @imagenes.each do |imagen| %>
        <% index = index + 1 %>

         <img src="<%=  imagen.image.url(:medium)  %>"  ng-show="isSelected(<%= imagen.id %>,<%= index %>)" class="animate-show">

      <% end %>


  </tr>
  <tr>
    <% @imagenes.each do |imagen| %>
      <td>
        <div ng-click="cambiaImagen(<%= imagen.id %>)" class="imagenesThumb">
        <%= image_tag imagen.image.url(:thumb), :class =>' imagenesThumb' %>
        </div>
      </td>
    <% end %>

  </tr>

</table>



</div>


