<div ng-controller="appController">


<table>
<tr>
<td class="contenedorimagen">

      <% index = 0 %>
      <% @imagenes.each do |imagen| %>
        <% index = index + 1 %>

         <img src="<%=  imagen.image.url(:medium)  %>" ng-show="isSelected(<%= imagen.id %>,<%= index %>)" class="animate-img-show" >

      <% end %>


  </td></tr>

<tr>
<td class="contenedorthumbs">
    <% @imagenes.each do |imagen| %>

        <div ng-click="cambiaImagen(<%= imagen.id %>)" class="imagenesThumb">
        <%= image_tag imagen.image.url(:thumb), :class =>' imagenesThumb' %>
        </div>

    <% end %>

  </td></tr>
  </table>



</div>

