
<div ng-controller="appController">


<%= bootstrap_form_tag url:'/agregaracarro', :method => 'GET' do |f| %>


    <div ng-if="tiendaunica" >

      <input type="text" class="form-control" disabled="true" value="{{firsttienda}}">
      <input type="hidden"  value="{{idtienda}}" name="proveedor" >
    </div>
    <div ng-if="!tiendaunica" >

       <select name="proveedor" class="form-control" id="proveedores" ng-model="objcolorescogido.proveedorescogido" ng-change='pueblaSexos(objcolorescogido.proveedorescogido)' >
       <option value="" selected disabled>Seleccione tienda</option>
       <option ng-repeat="tienda in tiendas" value="{{tienda.id}}"> {{tienda.name}}</option>

        </select>

    </div>
EVALUACIÓN TIENDA:
        <div class="progress">
          <% if @product.average_score_percent > 50 %>
            <div class="progress-bar progress-bar-danger" style="width: 50%">
              <span class="sr-only"></span>
            </div>

            <% if @product.average_score_percent > 80 %>
              <div class="progress-bar progress-bar-warning" style="width: 30%">
               <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-success" style="width: <%= @product.average_score_percent - 80 %>%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
            <% else %>

                  <div class="progress-bar progress-bar-warning" style="width: <%= @product.average_score_percent - 50 %>%">
                   <span class="sr-only">20% Complete (warning)</span>
                  </div>
            <% end %>
          <% else %>

            <div class="progress-bar progress-bar-danger" style="width: <%= @product.average_score_percent %>%">
              <span class="sr-only"></span>
            </div>
            <% end %>
          </div>


    <div ng-if="sexounico" >
      <input class="form-control" disabled="true" value="{{objsexoescogido.sexoescogido}}" name="sexo" >
    </div>
    <div ng-if="!sexounico" >

       <select name="sexo" class="form-control animacionFadeOn" id="sexos" ng-model="objsexoescogido.sexoescogido" ng-change='pueblaComboColores()' ng-show="habilitadoSexo" >


         <option value="" selected disabled>Seleccione el Sexo</option>
         <option ng-repeat="option in sexos">{{option[0]}}</option>
       </select>
     </div>




    <div ng-if="colorunico" >
      <input class="form-control" disabled="true" value="{{objcolorescogido.colorescogido}}" name="color" >
    </div>
    <div ng-if="!colorunico" >

       <select name="color" class="form-control animacionFadeOn" id="colores" ng-model="objcolorescogido.colorescogido" ng-change='pueblaComboTallas(objcolorescogido.colorescogido)' ng-show="habilitadoColor">
        <option value="" selected disabled>Seleccione el Color</option>
        <option ng-repeat="option in colores" >{{option.color}}</option>
       </select>
      </div>

      <div ng-if="tallaunica" >
          <input class="form-control" disabled="true" value="{{objtallaescogida.tallaescogida}}" name="talla" >
        </div>
        <div ng-if="!tallaunica" >

          <select name="talla" class="form-control animacionFadeOn" id="tallas" ng-model="objtallaescogida.tallaescogida" ng-change='activaCantidad()' ng-show="habilitadoTalla">
           <option value="" selected disabled>Seleccione la Talla</option>
           <option ng-repeat="option in tallas">{{option[0]}}</option>
         </select>
         </div>

    <div class="input-group" ng-show="habilitadoCantidad">
            <span class="input-group-addon" id="basic-addon3">STOCK:</span>
            <input type="text" name="stockactual"  class="form-control animacionFadeOn" ng-model="stock" readonly="true">
          </div>
          <div class="input-group" ng-show="habilitadoCantidad">
            <span class="input-group-addon" id="basic-addon4">CANT</span>
            <input type="text" name="cantidad" class="form-control animacionFadeOn" ng-model="cantidadescogida" ng-change='buscaPrecio()'  placeholder="INGRESE CANTIDAD"  autocomplete="off" />
          </div>




     <%= f.hidden_field :producto, :value => @product.id %>


    <div ng-show="habilitadoAgrega" class="animacionFadeOn">
    <% if @product.articleselected.present? %>
      <div class="input-group">
        <span class="input-group-addon">TOTAL: </span>
          <input type="text" class="form-control" id="valor"  format="nfcurrency"  ng-model="valorarticulo" readonly="true"/>

      </div>

    <% end %>



  <% if current_user.present? && current_user.profile.canbuy %>
        <% if current_user.tieneOrden? %>
          <strong>YA TIENE UNA ORDEN EN CURSO. <br/>FINALICELA O CANCELELA Y CREE UNA NUEVA </strong>
        <% else %>

          <%= f.submit "Agregar a carro", class: "btn btn-primary" %>


        <% end %>
      <% end %>
</div>
      <% if current_user.present? && current_user.profile.canbuy && false %>
         <button type="button" class="btn btn-default" >Lista deseos</button>
      <% end   %>
<% end %>

  </div>

