<!-- Uso de directiva para el slide show de categorias -->


  <% Category.where("category_id is null").order(:name).each do |category| %>

    <a class='btn btn-primary btn-block' role="button" data-toggle="collapse" href="#categoria<%= category.id %>" aria-expanded="false" aria-controls="categoria<%= category.id %>" >
      <%=  category.name  %>

    </a>
    <div id="categoria<%= category.id %>" class="collapse" easing="linear" duration="0.5s">
      <div class="btn-group-vertical btn-block" role="group" aria-label="...">

        <%= link_to "TODOS", homecategories_path(category.id), class: "btn btn-default btn-block"%>
         <% category.subcategories.order(:name).each do |hijo| %>
             <%= link_to hijo.name, homesubcategories_path(hijo.id), class: "btn btn-default btn-block"%>
          <% end %>
       </div>
    </div>

    <% end %>


