<!-- Uso de directiva para el slide show de categorias -->


  <% Category.where("category_id is null").order(:name).each do |category| %>

    <div class='btn btn-default btn-block' slide-toggle="#categoria<%= category.id %>" >
      <%=  category.name  %>

    </div>
    <div id="categoria<%= category.id %>" class="slideable" easing="linear" duration="0.5s">
      <div class="btn-group-vertical btn-block" role="group" aria-label="...">

        <%= link_to "TODOS", homecategories_path(category.id), class: "btn btn-default btn-block"%>
         <% category.subcategories.order(:name).each do |hijo| %>
             <%= link_to hijo.name, homesubcategories_path(hijo.id), class: "btn btn-default btn-block"%>
          <% end %>
       </div>
    </div>

    <% end %>
