<!DOCTYPE html>
<html  ng-app="app">
  <head>
    <title>Proyecto</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>

    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag Ckeditor.cdn_url%>



  </head>

  <body align="center" >
  <a name="top" />

<%= render 'layouts/parts/header' %>
 <div class="container-fluid container-fluid-cuerpo ">


    <div class="row">
      <div class="col-md-12">
        <%= render partial: "layouts/parts/flash_messages", flash: flash %>
      </div>
    </div>

    <%= render "layouts/parts/centro" %>
    <div class="row">
      <div class="col-md-12">











      </div>
    </div>


    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/parts/footer' %>
      </div>
    </div>


  </body>
</html>

