<div id="notice"><%= notice %></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Estados de Ordenes
      <%= link_to new_statusorder_path do%>
        <%= fa_icon 'plus-square-o' %>
      <% end %>
    </h4>
  </div>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>id</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statusorders.each do |statusorder| %>
      <tr>
       <td><%= statusorder.id %></td>
        <td><%= link_to statusorder  do %>
              <%= statusorder.value %>
            <% end %>
              </td>
        <td> <% if statusorder.pending  %>
              ESTADO ABIERTO
            <% else %>
              ESTADO CERRADO
              <% end %>
              </td>
        <td>
         <%= link_to edit_statusorder_path(statusorder) do %>
                <%=  fa_icon 'edit'  %>
            <% end %>
            <%= link_to  statusorder, method: :delete, data: { confirm: 'Are you sure?' }  do %>
               <%=  fa_icon 'remove'  %>
         <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

